@use 'tailwindcss';
@use '@nuxt/ui';

$carousel-controls-color: #00695c !important;

main {
	margin: 8rem auto 0 auto;
	width: 100vw;
	overflow-y: auto;

	@media (max-width: 576px) {
		margin: 8rem auto 0 auto;
		width: 90vw;
	}
}
form {
	display: grid;
	grid-template-rows: auto;
	padding: 2em;
}
h1 {
	font-size: 1.8rem;
}
