VITE_API_URL= http://localhost
NUXT_API_CEP=https://cep.awesomeapi.com.br

# api location coordinates via street
# documentação: https://my.locationiq.com/dashboard
NUXT_API_COORDINATES_TOKEN="pk.a7b291726564dc89c0dd9e0855f4d836" # get token at: https://my.locationiq.com/dashboard#accesstoken
# não a necessidade de alteração
NUXT_API_COORDINATES="https://us1.locationiq.com/v1/search?key=${NUXT_API_COORDINATES_TOKEN}&format=json&accept-language=pt-BR&countrycodes=BR"
